* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}

body {
  font-family: Lucida Sans Unicode, sans-serif;
  font-weight: 100;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main {
  background-color: #2b81ac;
  width: 1440px;
  height: 900px;
}
.weather-container {
  background-color: #3399cc;
  color: white;
  margin: 25px;
  width: 1390px;
  height: 850px;
}

.weather-container h2 {
  padding-top: 60px;
  padding-left: 115px;
  font-size: 21px;
  font-weight: 100;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: middle;
}
.title-icon {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 34px;
  margin-top: 20px;
  margin-left: 8px;
}
.cities {
  height: 592px;
  background-color: #ffffff;
  margin-left: 110px;
  margin-right: 110px;
}
.weather-list {
  list-style: none;
  display: flex;
  width: 1170px;
}

.weather-item {
  height: 146px;
  width: 292px;
  margin: 1px;
  padding: 35px;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  font-weight: 26px;
  cursor: pointer;
  position: relative;
}

.weather-item:hover {
  opacity: 0.8;
}

/* Індивідуальні стилі для кольорів іконок */
.blue {
  background-color: #3399cc;
  width: 583px;
}
.mint {
  background-color: #33cccc;
}
.lavender {
  background-color: #996699;
}
.red {
  background-color: #c24747;
}

.orange {
  background-color: #e2674a;
}

.yellow {
  background-color: #ffcc66;
}

.olive {
  background-color: #99cc99;
}
.grey {
  background-color: #669999;
}
.pink {
  background-color: #cc6699;
  width: 583px;
}
.green {
  background-color: #339966;
}
.purple {
  background-color: #666699;
  width: 1168px;
}
.weather-item .text {
  display: inline-block;
  vertical-align: middle;
}
.weather-item .icon {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  margin-left: 8px;
}
.weather-container p {
  margin-top: 30px;
  margin-left: 110px;
}
